@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #F6F6F6;
}

.degrees-small {
    position: relative;
}

.degrees-small::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -12px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid black;
}

.degrees_big {
    position: relative;
}

.degrees-big::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -20px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid black;
}

